.cache
build
**/node_modules/**
admin/**
tests/*
.eslintrc.js
Dockerfile
Dockerfile.preview
docker-compose.yaml
*.yaml
extensions/documentation/public/index.html
.env
.env.*
*.mjml
.env.example
plugins/wysiwyg
*.md
run.sh
storybook-static/*
dist/*
rollup.config.js
commitlint.config.js
.husky/*
package-lock.json
package.json
tsconfig.json